@tailwind base;
@tailwind components;
@tailwind utilities;

body {
	color: white;
	background: #141414;
}

.done {
	background: linear-gradient(
		to left,
		purple 45%,
		purple 48%,
		#df64df 52%,
		purple 58%,
		purple 100%
	);
	background-size: 200%;
	animation: gradient 3s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 150% 50%;
	}
	100% {
		background-position: -15% 50%;
	}
}
